/** This CSS file will be included on the page. It will also live reload if you make changes to this file.

Right now, this is the only user CSS file that is loaded. You can use CSS imports to load other CSS files here.
**/


@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: local("Nunito"), url("/fonts/Nunito/Nunito-Light.ttf"); }
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 300;
  src: local("Nunito"), url("/fonts/Nunito/Nunito-LightItalic.ttf"); }
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito"), url("/fonts/Nunito/Nunito-Regular.ttf"); }
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: local("Nunito"), url("/fonts/Nunito/Nunito-Italic.ttf"); }
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: local("Nunito"), url("/fonts/Nunito/Nunito-SemiBold.ttf"); }
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 600;
  src: local("Nunito"), url("/fonts/Nunito/Nunito-SemiBoldItalic.ttf"); }
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito"), url("/fonts/Nunito/Nunito-Bold.ttf"); }
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 700;
  src: local("Nunito"), url("/fonts/Nunito/Nunito-BoldItalic.ttf"); }
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: local("Nunito"), url("/fonts/Nunito/Nunito-ExtraBold.ttf"); }
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  src: local("Nunito"), url("/fonts/Nunito/Nunito-ExtraBoldItalic.ttf"); }
/* @font-face {
  font-family: "Symbols";
  font-style: normal;
  font-weight: 400;
  src: local("Symbols"), url("/fonts/snowdrift-symbols/snowdrift-symbols.ttf"); }
@font-face {
  font-family: "Symbols";
  font-style: italic;
  font-weight: 400;
  src: local("Symbols"), url("/fonts/snowdrift-symbols/snowdrift-symbols.ttf"), url("/fonts/snowdrift-symbols/snowdrift-symbols.ttf"); }
@font-face {
  font-family: "Symbols";
  font-style: normal;
  font-weight: 600;
  src: local("Symbols"), url("/fonts/snowdrift-symbols/snowdrift-symbols.ttf"), url("/fonts/snowdrift-symbols/snowdrift-symbols.ttf"); }
@font-face {
  font-family: "Symbols";
  font-style: italic;
  font-weight: 600;
  src: local("Symbols"), url("/fonts/snowdrift-symbols/snowdrift-symbols.ttf"), url("/fonts/snowdrift-symbols/snowdrift-symbols.ttf"); } */




@supports not (backdrop-filter: blur(4px)) {
    .backdrop_blur_fallback {
        background: hsla(0,0%,100%,.94) !important;
    }
}


a:hover {
  text-decoration: underline;
	/* border-bottom: 0.2rem solid #378756;
	color: #378756; */
}

#simulator .ew-bg-base-bg thead {
  background-color: transparent; 
}